; SIP SIMPLE client configuration file
;
; File location: ~/.sipclient/config.ini

[General]

; User Agent name
; user_agent=sip2sip

; SIP transport settings

; IP address used for SIP signaling, syntax: 0.0.0.0|any|ip
local_ip=any

; Ports used for each supported SIP transport, can be 0 (port will be
; automatically allocated) or a valid port number
sip_local_udp_port=0
sip_local_tcp_port=0
sip_local_tls_port=0

; Enable SIP transports and their prefered order, it will be matched against
; the DNS NAPTR records of the target domain
sip_transports=tls,tcp,udp

; Security settings

; List of certificate authorities, that may sign remote X.509 certificates
tls_ca_file=~/.sipclient/tls/ca.crt ; not implemented

; Verify that the X.509 certificate common name matches the remote hostname
; sip_tls_verify_server=false ; not implemented

; Range of IP ports used for listening to RTP/RTCP streams
rtp_port_range=8000 8100

; Advertise SIP URI on the LAN using multicast DNS
; bonjour=true ; not implemented

; Logging setting

trace_sip=false
trace_pjsip=false
; trace_xcap=false ; not implemented
; trace_msrp=false ; not implemented

; Log directory
log_directory=~/.sipclient/log

; History directory for saving audio and IM sessions
history_directory=~/.sipclient/history

; File transfer directory for saving incoming files
file_transfers_directory=~/.sipclient/file_transfers


[Audio]

; Audio sample rate can be 8, 16 or 32 (in KHz)
sample_rate=32

; Acoustic Echo Cancellation tail in miliseconds
echo_cancellation_tail_length=100

; Use a dummy sound device, useful on platforms that do not have a sound card
disable_sound=false


[Account]

; Credentials used for authentication to the SIP Proxy, XCAP server and MSRP relay
sip_address=
password=

; Display name in the From header displayed by the remote device
display_name=

; SIP outbound proxy. If not set, the target is derived from DNS (RFC3263)
; of the target domain. If set all SIP messages will be sent through it.
; syntax: host|transport:host|host:port|transport:host:port
outbound_proxy=

; NAT traversal settings

; By default STUN servers are looked-up using DNS SRV _stun._udp .domain
; This is a comma separated list of IPs, optionally with ports:
; ip1[:port1][,ip2[:port2]]...
; stun_servers=

; Use ICE to determine candidates used in SDP/RTP negotiation
use_ice=false

; Use STUN to determine server reflexive candidates for SDP/RTP negotiation
use_stun_for_ice=false 

; Use STUN to determine the public contact address used for REGISTER
; use_stun_for_register=false ; not implemented

; MSRP settings

; MSRP relay address, syntax: auto|domain|hostname|hostname:port|ip:port
; auto means the relay is looked-up using DNS SRV _msrps._tcp.domain
; msrp_relay=auto

; By default the MSRP relay is used only for inbound sessions
use_msrp_relay_for_outbound=false ; not implemented

; Local IP used for MSRP sessions
; msrp_local_ip=auto

; Presence settings

; Enable publication and subscription to presence.winfo event package, if
; enabled the software will publish its state and authorize or block
; watchers; subscribing to someone else's presence is enabled at all times
; since this doesn't require any special capability in the provider
use_presence_agent=true

; XCAP root used to store buddy lists and presence policy
xcap_root=https://xcap.example.com/xcap-root/

; Enable subscription to RLS services
; subscribe_rls_services=false ; not implemented

; Publish state changes for dialog event package
; publish_dialog_state=false ; not implemented

; Subscribe to message waiting indicator generated by the voicemail server
; subscribe_message_summary=false ; not implemented

; Subscribe to xcap-diff to be notified when XCAP documents are changed
; subscribe_xcap_diff=false ; not implemented

; ENUM settings

; List of top level domains for ENUM lookups
; enum_tld_list=e164.arpa ; not implemented
 
; Refresh intervals

sip_register_interval=600
sip_subscribe_interval=600
sip_publish_interval=600

; TLS settings

; Verify that the X.509 certificate common name matches the remote hostname
; msrp_tls_verify_server=false ; not implemented
; xcap_tls_verify_server=false ; not implemented

; Audio settings

; Supported audio codecs and their prefered order
audio_codec_list=speex,g711,ilbc,gsm,g722

; Use sRTP to encrypt RTP streams using symmetric key, valid options are
; optional (use sRTP when possible), mandatory (calls fails if sRTP
; negotiation fails) and disabled (sRTP is never used)
audio_srtp_encryption=disabled

; By default sRTP is used only over TLS secured signaling otherwise the
; symmetric encryption key may be compromissed
use_srtp_with_non_tls_sip=false


; MSRP file transfers

; Automatically accept incoming file transfer requests
auto_accept_file_transfers=false

; Ring tones

; SIP session events
; inbound_ringtone=ring_inbound.wav
; outbound_ringtone=ring_outbound.wav

; MSRP chat events
; message_received_sound=message_received.wav
; message_sent_sound=message_sent.wav


[InboundRingtones]

; user1@domain=user1.wav
; user2@domain=user2.wav

