
[general]

user_agent='pypjua'
local_ip=auto
local_port=auto
device_id=auto

active_accounts=account1

enable_bonjour=false

sip_trace=false
xcap_trace=false
msrp_trace=false
rtp_trace=false

enable_audio_echo_cancelation=true
enable_audio_recording=false
audio_recording_folder=
enable_audio=false
enable_video=false

msrp_im_chat_history_folder=
msrp_file_transfer_folder=


[account_options]

; default account options, can be overwritten per account
enable_msrp_im=true
enable_msrp_file_transfer=true
enable_register=true
enable_presence=true
enable_presence_spheres=false
enable_presence_rls_services=false
enable_presence_accept_watchers=prompt|allow|deny|allow_and_add_to_my_buddylist
enable_presence_accept_watchers_from_local_domain=allow_and_add_to_my_buddylist|prompt|allow|deny
enable_message_waiting_indicator=true
enable_enum_lookup=false
enable_thor_lookup=false
enable_srtp=never|always|preffer
sip_transport=auto
sip_register_period=600
sip_subscribe_period=600
sip_publish_period=600
sip_transport=auto
audio_codecs=gsm ilbc speex g711
video_codecs=h264
; chat server is already ona  public IP address, no need to reserve a relay session
enable_msrp_relay_with_chatserver=false

[account1]

; sip basic options
display_name=
username=
domain=
password=
outbound_proxy=

; advanced options
xcap_root=https://xcap.example.com/xcap-root/
msrp_chatserver_domain=conference.example.com
msrp_relay=auto
