; SIP User Agent configuration file
;
; This file must reside in ~/.sipclient/config.ini

[General]
; User Agent name
; software version will be automatically appended
user_agent=ag-projects.com/sipclient

; ip and port for SIP signalling
; 0.0.0.0 or any or ip:port or ip
listen_udp=any
; rtp_port_range=8000 8100

; publish presence on the LAN using multicast DNS, it appears as another
; active account in the user interface
; bonjour=true
; Display name for bonjour
; bonjour_name=

; protocol tracing
; trace_pjsip=false
; trace_sip=false
; trace_xcap_headers=false
; trace_xcap_body=false
; trace_msrp_headers=false
; trace_msrp_body=false
; trace_rtp=false

; history directory for saving audio sessions and IM chats
history_directory=~/.sipclient/history

; log directory
log_directory=~/.sipclient/log


[Audio]
sample_rate=32
echo_cancellation_tail_length=200
disable-sound=false
comfort_noise=true
codec_list=speex,g711,ilbc,gsm,g722


[Video]
; video codec list
; codec_list=h264


[Account]

; credentials used for authentication to the SIP Proxy, XCAP server, MSRP relay
sip_address=
password=

; send all SIP messages through this proxy, can be a domain name, a hostname, an ip or ip:port
outbound_proxy=

; enable or disable this account
active=true

; Display name in From header
display_name=

; xcap root used to store buddy lists and presence policy
xcap_root=https://xcap.example.com/xcap-root/

; from whom to accept invitations for IM chat sessions
; im_allow_invitations_from=buddy_list|everyone

; overwrite default DNS lookup with a fixed address: hostname|ip:port
; msrp_relay_address=auto

; domain used for the multi-party MSRP chat server
; im_chatserver_domain=conference.example.com

; register contact with the SIP registrar
; register=true

; enable publication and subscription to presence.winfo event package, if
; enabled the software will publish its state and authorize or block
; watchers; subscribing to someone else's presence is enabled at all
; times since this doesn't require any special capability in the provider
use_presence_agent=true

; useful for watchers in the same domain
; presence_accept_watchers_from_domains=

; enable subscription to RLS services
; subscribe_rls_services=false

; subscribe to message waiting indicator generated by the voicemail server
; subscribe_message_waiting_indicator=false

; subscribe to xcap-diff to be notified when XCAP documents are changed
; subscribe_xcap_diff=false

; SIP transport can be udp, tcp, tls, detected from the DNS NAPTR record
; sip_transport=auto

; refresh interval
; sip_register_interval=600
; sip_subscribe_interval=600
; sip_publish_interval=600

