recursive-include debian  changelog compat control copyright dirs docs pyversions rules
recursive-include docs INSTALL.*
prune debian/tmp
prune debian/sipclient
include MANIFEST.in config.ini.sample AUTHORS LICENSE build_inplace Changelog setup_pjsip.py
recursive-include pypjua _pjsip.pyx Makefile
recursive-include share/sipclient *.wav
recursive-include pypjua/applications/xml-schemas *.xsd
recursive-include patches *.patch
