recursive-include debian  changelog compat control copyright dirs docs pyversions rules
recursive-include docs INSTALL.*
prune debian/tmp
prune debian/sipclient
include MANIFEST.in config.ini.sample AUTHORS LICENSE build_inplace
recursive-include pypjua _pjsip.pyx Makefile
recursive-include scripts *.wav
recursive-include pypjua/applications/xml-schemas *.xsd
