Source: sipclient
Section: net
Priority: extra
Maintainer: Lucian Stanescu <luci@ag-projects.com>
Uploaders: Ruud Klaver <ruud@ag-projects.com>, Adrian Georgescu <ag@ag-projects.com>, Denis Bilenko <denis@ag-projects.com>, Dan Pascu <dan@ag-projects.com>
Build-Depends: cdbs (>= 0.4.47), debhelper (>= 7), python-all-dev (>= 2.5), python-support, cython, libasound2-dev
Standards-Version: 3.8.0
Homepage: http://www.ag-projects.com/SipClient

Package: sipclient
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-application (>= 1.0.9), python-twisted, python-dnspython (>= 1.6), python-setuptools, python-lxml, python-xcaplib, python-codespeak-lib
Provides: ${python:Provides}
Description: Python SIP client
 SipClient is Python software library built on top of PJSIP that together
 with an elegant middleware allows for easy development of Client/Server or
 Peer-to-Peer Internet communications end-points based on SIP protocol with
 rich Presence, instant messaging (IM) and file transfer capabilities.
 .
XB-Python-Version: ${python:Versions}
