Source: python-sipsimple
Section: python
Priority: optional
Maintainer: Dan Pascu <dan@ag-projects.com>
Uploaders: Adrian Georgescu <ag@ag-projects.com>, Lucian Stanescu <luci@ag-projects.com>, Saul Ibarra <saul@ag-projects.com>
Build-Depends: debhelper (>= 7.3.5), python-all-dev (>= 2.5), python-all-dbg (>= 2.5), python-support, cython-dbg (>= 0.13.0), libasound2-dev, libssl-dev, subversion
Standards-Version: 3.9.2
Homepage: http://sipsimpleclient.com

Package: python-sipsimple
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}, libavahi-compat-libdnssd1, python-application (>= 1.2.5), python-dateutil, python-dnspython (>= 1.6), python-eventlet-0.8, python-gnutls, python-lxml, python-msrplib (>= 0.14.0), python-twisted-core (>= 8.1.0), python-xcaplib (>= 1.0.15)
Provides: ${python:Provides}
Description: Python SDK for development of SIP end-points
 SIP SIMPLE client SDK is a Software Development Kit for easy development of
 SIP end-points that support rich media like Audio, Instant Messaging, File
 Transfers, Desktop Sharing and Presence.  Other media types can be easily
 added by using an extensible high-level API.

Package: python-sipsimple-dbg
Architecture: any
Priority: extra
Section: debug
Depends: ${shlibs:Depends}, ${misc:Depends}, python-sipsimple (= ${binary:Version})
Recommends: python-all-dbg
Provides: ${python:Provides}
Description: Python SDK for development of SIP end-points (debug symbols)
 SIP SIMPLE client SDK is a Software Development Kit for easy development of
 SIP end-points that support rich media like Audio, Instant Messaging, File
 Transfers, Desktop Sharing and Presence.  Other media types can be easily
 added by using an extensible high-level API.
 .
 This package includes debugging symbols for the python-sipsimple package.

