#!/usr/bin/make -f

DEB_PYTHON_SYSTEM=pysupport
DEB_COMPRESS_EXCLUDE := .py

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

configure/sipclient::
	make -C pypjua
	-ln -fs ../../pjsip ./pjsip

clean::
	make -C pypjua clean
	-rm -rf build dist MANIFEST pjsip
