#!/usr/bin/make -f

#export DH_VERBOSE=1

BUILDFLAGS_MK=/usr/share/dpkg/buildflags.mk
if [ -a $(BUILDFLAGS_MK) ]; then \
	DPKG_EXPORT_BUILDFLAGS=1; \
	include $(BUILDFLAGS_MK); \
fi; \

PYVERS:=$(shell pyversions -r)

%:
	dh  $@ --with python2

override_dh_clean:
	dh_clean
	rm -rf build dist MANIFEST

override_dh_auto_build:
	for python in $(PYVERS); do \
		$$python-dbg setup.py build_ext --pjsip-clean-compile; \
		$$python setup.py build_ext --pjsip-clean-compile; \
		$$python setup.py build; \
	done

override_dh_auto_install:
	for python in $(PYVERS); do \
		$$python-dbg setup.py install --force --skip-build --no-compile --prefix /usr --root $(CURDIR)/debian/tmp --install-layout deb; \
		$$python setup.py install --force --skip-build --no-compile --prefix /usr --root $(CURDIR)/debian/tmp --install-layout deb; \
	done

override_dh_install:
	# Install everything excluding the *_d.so debug extensions
	dh_install -X"*_d.so" "debian/tmp/*" -p python-sipsimple
	# Install the debug extensions to -dbg package
	dh_install "debian/tmp/usr/lib/python*/*-packages/sipsimple/core/*_d.so" -p python-sipsimple-dbg
	# Continue with regular dh_install
	dh_install

override_dh_strip:
	# Stripped symbols go into -dbg package
	dh_strip --dbg-package=python-sipsimple-dbg

.PHONY: override_dh_clean override_dh_auto_build override_dh_auto_install override_dh_install override_dh_strip
